<div class="section">
  <div class="columns is-centered">
    <div class="column is-4">
      <h1 class="title is-3">Add payment method</h1>

      <hr/>

      <%= form_tag create_payment_method_path, id: "payment-form" do |form| %>

        <div class="field">
          <label for="card-element" class="label">Enter credit or debit card</label>

          <div id="card-element">
            <!-- A Stripe element will be intserted here !-->
          </div>

          <div id="card-errors" role="alert"></div>

          <%= hidden_field_tag :payment_method_type, "card" %>

        </br>
          <button class="button  is-link">Submit</button>
        </div>

      <% end %>
    </div>
  </div>
</div>


<hr/>

<div class="section">
  <div class="columns is-centered">
    <div class="column is-4">
      <h1 class="title is-3">Add AHC Payment Method</h1>

      <hr/>

      <%= form_tag add_bank_account_path, id: "account-form" do |form| %>

    <input  type="hidden" name="token" />
    <div class="form-row">
      <label for="country">Country</label>
      <select id="country">
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="GB">United Kingdom</option>
        <option value="DE">Germany</option>
        <option value="FR">France</option>
        <option value="ES">Spain</option>
      </select>
    </div>
    <div class="form-row">
      <label for="currency">Currency</label>
      <select id="currency">
        <option value="USD">US Dollar</option>
        <option value="CAD">Canadian Dollar</option>
        <option value="GBP">Pound</option>
        <option value="EUR">Euro</option>
      </select>
    </div>
    <div class="form-row">
      <label for="routing-number">Routing Number</label>
      <input type="text" id="routing-number" class="input"/>
    </div>
    <div class="form-row">
      <label for="account-number">Account Number</label>
      <input type="text" id="account-number" class="input"/>
    </div>
    <div class="form-row">
      <label for="account-holder-name">Account Holder Name</label>
      <input type="text" id="account-holder-name" class="input" />
    </div>
    <div class="form-row">
      <label for="account-holder-type">Account Holder Type</label>
      <select id="account-holder-type">
        <option value="individual">Individual</option>
        <option value="company">Company</option>
      </select>
    </div>
    <button type="submit">Submit</button>
    <div class="outcome">
      <div class="error"></div>
    </div>


      <% end %>
    </div>
  </div>
</div>
