<div class="section">
  <div class="columns is-centered">
    <div class="column is-4">
      <h1 class="title is-3">Add payment method</h1>

      <hr/>

      <%= form_tag create_payment_method_path, id: "payment-form" do |form| %>

        <div class="field">
          <label for="card-element" class="label">Enter credit or debit card</label>

          <div id="card-element">
            <!-- A Stripe element will be intserted here !-->
          </div>

          <div id="card-errors" role="alert"></div>

          <%= hidden_field_tag :payment_method_type, "card" %>

        </br>
          <button class="button  is-link">Submit</button>
        </div>

      <% end %>
    </div>
  </div>
</div>
