<div class="tabs is-large is-centered">
  <ul>
    <li class="is-active">
      <%= link_to products_path  do %>
        <span class="icon is-small"><i class="fa fa-image" aria-hidden="true"></i></span>
        <span>Products</span>
      <% end %>
    </li>
    <li>
       <%= link_to plans_path  do %>
        <span class="icon is-small"><i class="fa fa-money" aria-hidden="true"></i></span>
        <span>Plans</span>
      <% end %>
    </li>
    <li>
       <%= link_to books_path  do %>
        <span class="icon is-small"><i class="fa fa-book" aria-hidden="true"></i></span>
        <span>Books</span>
      <% end %>
    </li>
  </ul>
</div>
