<%= render "user_dashboard/menu" %>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="title is-3">Subscriptions</h1>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-4">
    <div class="list is-hoverable">
      <div class="list-item">
        <div class="columns">

          <div class="column is-4">
            <p class="sub-text">PRODUCT</p>
          </div>

          <div class="column is-4">
            <p class="sub-text">PLAN</p>
          </div>

          <div class="column is-4">
            <p class="sub-text">CREATED</p>
          </div>

          <div class="column is-4">
             <p></p>
          </div>
        </div>
    </div>

  <%= render "subscription" %>
</div>
