<div class="tabs is-large is-centered">
  <ul>
    <li class="is-active">
      <%= link_to subscriptions_path  do %>
        <span class="icon is-small"><i class="fa fa-image" aria-hidden="true"></i></span>
        <span>Subscriptions</span>
      <% end %>
    </li>
    <li>
       <%= link_to cards_path do %>
        <span class="icon is-small"><i class="fa fa-money" aria-hidden="true"></i></span>
        <span>PaymentMethods </span>
      <% end %>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file" aria-hidden="true"></i></span>
        <span>Books</span>
      </a>
    </li>
  </ul>
</div>
