<div class="tabs is-large is-centered">
  <ul>
    <li>
      <%= link_to subscriptions_path do %>
        <span class="icon is-small"><i class="fa fa-image" aria-hidden="true"></i></span>
        <span>Subscriptions</span>
      <% end %>
    </li>
    <li>
       <%= link_to cards_path do %>
        <span class="icon is-small"><i class="fa fa-money" aria-hidden="true"></i></span>
        <span>PaymentMethods </span>
      <% end %>
    </li>
    <li>
      <%= link_to dashboard_purchases_path do %>
        <span class="icon is-small"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <span>Purchases</span>
      <% end %>
    </li>
  </ul>
</div>
