<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Payment Successful</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->dss
    </section>
    <footer class="modal-card-foot">
      <%= link_to "Download bill", generate_bill_path(id: 12, format: :pdf), class: "button is-success" %>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
